---
import "../styles/global.css";

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle ="Noodlesのブログ"
---

<BaseLayout pageTitle={pageTitle}>
  <div class="about">
    <h1>{pageTitle}</h1>
    <h2>活動内容</h2>
    <div>
      ここに活動内容などを書く
    </div>
  </div>
</BaseLayout>
