---
import Links from "./Links.astro"
---
<style>
  #copyright{
    width: fit-content;
    margin: 0 auto;
    font-size: small;
  }
</style>
<footer>
  <Links/>
  <p id="copyright">&copy; Noodles All Right Reserved.</p>
</footer>
