---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<style>
  header{
    border-bottom: 0.5px solid rgb(167, 167, 167);
  }
</style>
<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>