---
import Social from "./Social.astro";

const { section } = Astro.props;

---

<div>
  <Social username="nonnhjleno" platform="GitHub" section={section}/>
  <Social username="" platform="Instagram" section={section}/>
</div>
